.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color:rgb(241, 243, 244,0.3);
    padding: 20px;
}

.form-title{
    color: rgb(241, 165, 24);
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
}

.form-body{
    margin-bottom: 35px;
}

