.jumbotron{
    position: relative;
    /* min-block-size: 33rem; */
    width: 100vw;
    top:3rem;
    background-image: url(https://wordpress-trunk.dev/wp-content/uploads/2020/06/websitedesignheaderimage1920x1080background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    background-position: center;
}

.jumbo-header {
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}

/* .jumbotron:hover .header-card{
    transform: scale(1.6);
    } */

.jumbotron:hover .header-text{
    background-color: rgba(12, 12, 12, 0.8);
    }

.header-text{
    position: absolute;
    height: 100%;
    top: 0%;
    width: 100%;
    transition: all 0.5s linear;
    background-color: rgba(12, 12, 12, 0.5);
    /* background-image: linear-gradient(to right, rgba(185, 166, 166, 0) ,rgb(10, 10, 10), ); */
    
    
}
.header-card{
    color:black;
    transform: scale(0.9);
    transition: all 1.5s linear;
    
}

.text-container{

    color: blanchedalmond;
    background-color: rgba(12, 12, 12, 0.7);
}