.HomeIntro-main-container{
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 5rem;
    /* background-color: aqua; */
    /* flex-direction: row; */
    padding: 1rem;
    align-content: center;
}

.HomeIntro-text-container{
    height: auto;
    /* background-color: red; */
    align-content: center;
}

.HomeIntro-img-container{
    height: auto;
    /* background-color: plum; */
    align-items: center;
}

.HomeIntro-image{
    /* top: 50%; */
    background-image: url(../../assets/images/web-development-starts.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    /* transform: translate(0,-50%); */
    /* background-size: cover; */
    /* margin-top: 30px; */
}

.def{
    color:#7B7B7B;
    text-align: justify;
    padding-right: 10px;
}

.HomeIntro-main-container .MuiButton-root{
    text-transform: none;
}