.main-container{
    position: relative;
    /* background-image: url(https://www.ionos.com/digitalguide/fileadmin/DigitalGuide/Teaser/web-development-t.jpg); */
    background-size: cover;
    width: 100vw;
    top:1rem;
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}
.first-container{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(235, 225, 225); */
}
.our-services-topic{
    justify-content: center;
    margin-top:3rem;
}

.service-box{
    /* background-color: rgba(232, 234, 235, 0.3);
    padding:10px; */
    justify-content: center;
}

.services-intro{
    justify-content: center;
    margin:1rem;
}

/* .shadow {
    box-shadow: none;
} */

.service-box .MuiCard-root {
  height: 300px;
}

/* .button-container{
    position: relative;
    bottom: -10px;
    margin-bottom: -10px;
} */