.whoweare-main-container{
    display: flex;
    height: auto;
    justify-content: center;
    /* margin-top: 5rem; */
    /* background-color: aqua; */
    padding: 1rem;
    align-content: center;

}

.WhoWeAre-image{
    background-image: url(../../assets/images/web-development.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    
}

.def-who-we-are{
    color:#7B7B7B;
    text-align: justify;
}
.whoweare-main-container .MuiButton-root{
    text-transform: none;
}

.testing{
    height: 350px;
    background-color: blue;
    margin: 3px;
}