.words-clients{
    height: 20rem;
    margin-bottom: 40px;
}

.client-carosal{
    /* display: inline-block; */
    background-color:  rgb(209, 236, 236);
    padding-top: 3% ;
    padding-bottom: 3%;
}