.nav-item{
    text-transform: uppercase;
    margin-right: 1rem;
    font-size: 0.9rem;
}
a {
    margin-top:0px;
    color: rgb(209, 203, 203);
  }
  a:hover {
     color: rgb(232, 232, 240);
     text-decoration: none;
  }