.icon-bar {
    z-index: 10;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;  
  }
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 10px;
  }
  
  .icon-bar a:hover {
    background-color: #837e7e;
  }
  
  .whatsapp {
    background: #24CC63;
    color: white;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
  }
  
  .contact {
    background: #55ACEE;
    color: white;
  }
  
  .email {
    background: #dd4b39;
    color: white;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }
  
  