.footer-container{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 100%;
 background-color:#343A40;
 justify-content: center;
 align-items: center;
 color: #ffffff;

}

.icon-container{
    margin: 10px;
    cursor: pointer;
    
}

.footer-services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    

}

.footer-services .footer-row{
    margin: 1rem;
}

.footer-services .footer-row ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #acaeb6 ;
}

.inside-row{
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.copyright{
    margin: 20px;
    text-align: center;
}

.footer-services .footer-row li{
    cursor: pointer;
}